@media (max-width: 1500px) {
  .content{
    flex-direction: column;
    align-items: center;
  }

  .left-side{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .right-side input{
    margin-top: 50px;
    width: 100%;
  }
}

@media (max-width: 1111px) {
  .left-side{
    width: 100%;
  }

  .right-side input{
    width: 94%;
  }

  .email-forgot-email{
    display: flex;
    align-items: center;
  }
}

@media (max-width: 720px) {
  .content{
    width: 70%;
  }

  .right-p-one a{
    display: inline-block;
  }

  .footer{
    flex-direction: column;
    width: 80%;
  }

  .help ul{
    margin-top: 10px;
  }

  .help ul li{
    margin-left: 0;
    margin-right: 25px;
  }
}

@media (max-width: 480px) {
  .right-side input,
  .forget-email,
  .right-p-one,
  .buttons,
  .lang,
  .help ul li{
    font-size: 15px;
  }

  .right-side input{
    padding: 17px 0 17px 13px;
  }

  .footer{
    width: 85%;
  }
}