*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: 0;
  transition: 0.25s;
  font-family: "Poppins", sans-serif;
}

:root{
  --blue-color: rgb(79, 79, 222);
  --grey-color: rgb(202, 202, 202);
}

body{
  background-color: rgb(241, 252, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

a{
  color: var(--blue-color);
}

.content{
  background-color: rgb(255, 255, 255);
  width: 50%;
  border-radius: 15px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
}

.logo{
  width: 50px;
  user-select: none;
}

.left-side{
  width: 50%;
}

.left-p-one{
  font-size: 35px;
  font-weight: 500;
  margin: 15px 0 18px 0;
}

.left-p-two{
  font-weight: 500;
  font-size: 16px;
}

.right-side{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.mail-id{
  margin-top: 50px;
  border: solid 3px var(--grey-color);
  border-radius: 100px;
  display: inline-block;
  padding: 6px 14px;
  user-select: none;
}

.right-side input{
  width: 460px;
  padding: 20px 0 20px 13px;
  border-radius: 6px;
  border: solid 3px rgb(202, 202, 202);
  margin-bottom: 10px;
  margin-top: 60px;
  font-weight: 500;
  font-size: 15px;
  user-select: none;
}

.forget-email{
  font-weight: 600;
  margin-bottom: 50px;
  font-size: 15px;
}

.buttons{
  user-select: none;
  font-size: 15px;
}

.buttons button{
  background-color: var(--blue-color);
  color: white;
  padding: 13px 28px;
  border: none;
  border-radius: 100px;
  font-weight: 600;
  cursor: pointer;
}

.buttons button:hover{
  opacity: 0.7;
}

.footer{
  display: flex;
  justify-content: space-between;
  width: 53%;
  margin-top: 25px;
}

.lang{
  font-weight: 600;
  cursor: pointer;
}

.help ul{
  display: flex;
  list-style: none;
}

.help ul li{
  margin-left: 25px;
}

.help ul li a{
  color: rgb(70, 70, 70);
  font-weight: 600;
  font-size: 14px;
}


